<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Health データを更新するための権限が必要です。
</string>
	<key>NSHealthShareUsageDescription</key>
	<string>心拍数を取得するために HealthKit の読み取り権限が必要です。
</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsTabbedSceneCollection</key>
		<false/>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
